@import "../../../Variable.module.scss";

#main{
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

#commentNav{
    width: 40%;
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 50px;

    h1{
        width: 80%;
    }
}

#commentMain{
    display: flex;
    width: 40%;
    max-width: 600px;

    #commentBox{
        width: 100%;
        
        #comment, #reComment{
            display: flex;
            position: relative;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
            h2{
                width: fit-content;
                margin-right: 22px;
                font-size: 18px;
            }
            p{
                flex-grow: 1;
                font-size: 14px;
            }
            #commentEditBox{
                flex-grow: 5;
            }
            ul{
                left: 100%;
            }
            transition: all 1s;
        }

        #reComment{
            width: calc(100% - 30px);
            margin-left: 30px;
        }

        #commentEditBox{
            display: flex;
            flex-grow: 5;
            input{
                flex-grow: 7;
            }
            button{
                flex-grow: 1;
                margin-left: 4px;
            }
        }
    }
    #reCommentInputBox{
        display: flex;
        margin-top: 4px;
        width: 100%;
        #reCommentOpenButton{
            background-color: transparent;
            font-size: 12px;
            color: black;

            &:active{
                background-color: darken(white, 10);
            }
        }
        input{
            flex-grow: 7;
        }
        #reCommentButton{
            flex-grow: 1;
            background-color: $main-color;
            font-size: 12px;
            margin-left: 4px;
            color: white;

            &:active{
                background-color: darken($main-color, 10);
            }
        }
    }
    
    #commentInputBox{
        display: flex;
        width: 100%;
        margin-top: 120px;
        margin-bottom: 80px;
        input{
            margin-right: 6%;
            flex-grow: 4;
        }
        button{
            flex-grow: 1;
        }
    }
}