@import "../../../Variable.module.scss";

#main{
    flex-direction: column;

    #login{
        display: flex;
        width: 50%;
        max-width: 500px;
        height: 360px;
        position: fixed;
        justify-content: center;
        div{
            width: 70%;
            h1{
                font-size: 20px;
            }
            p{
                width: 100%;
                height: fit-content;
                font-size: 12px;
                color: red
            }
        }
        input{
            height: 20px;
            font-size: 14px;
            width: 95%;
            margin-top: 12px;
            margin-bottom: 4px;
        }

        #buttonBox{
            width: 72%;
            text-align: right;
            margin-bottom: 12px;
            #loginButton{
                display: flex;
                align-items: center;
                width: 97%;
                height: 30px;
                padding-bottom: 4px;
                padding-top: 4px;
                margin-bottom: 12px;
                button{
                    background-color: $main-color;
                    width: 100%;
                    height: 32px;
                    font-size: 18px;
                    padding: 0;
                }
            }
            #join{
                background-color: transparent;
                width: fit-content;
                font-size: 16px;
                color: #a6a6a6;
                margin-right: 12px;
            }
        }
    }
}