@import "../../../Variable.module.scss";

main{
    overflow-y: hidden;
    img{
        max-width: 1025px;
    }
    
    div{
        display: block;
        width: fit-content;
        height: fit-content;
        #home{
            width: 33%;
        }
        h1{
            display: inline-block;
            height: fit-content;
            font-weight: normal;
            font-size: 28px;
        }
        article{
            display: inline;
            height: fit-content;
            color: $main-color;
            font-size: 28px;
            font-weight: normal;
        }
    }

    transition: all 1s;
}

#main1{
    img{
        margin-top: auto;
        flex-grow: 4;
    }
    div{
        flex-grow: 2;
    }
}

#main2{
    img{
        flex-grow: 3;
    }
    div{
        text-align: center;
        flex-grow: 3;
    }
}

#main3{
    div{
        text-align: center;
        flex-grow: 4;
    }
    img{
        flex-grow: 2;
    }
}

#main4{
    img{
        flex-grow: 2;
    }
    div{
        text-align: center;
        flex-grow: 4;
    }
}