#profile{
    flex-direction: column;
    h1{
        width: 70%;
        margin-bottom: 3%;
        font-size: 40px;
        font-weight: normal;
    }
}

#box{
    display: flex;
    width: 70%;
    height: 60%;
    flex-wrap: wrap;

    div{
        width: 50%;
        height: 50%; 
    }
    p{
        font-size: 16px;
        margin-top: 16px;
    }
    #data{
        display: inline-block;
        width: 60%;
        font-size: 30px;
        margin-left: 6%;
    }
    button{
        width: 30%;
        font-size: 20px;
        margin-left: 12px;
    }
}