#profile{
    flex-direction: column;
    h1{
        width: 70%;
        max-width: 500px;
        margin-bottom: 3%;
        font-weight: normal;
    }
}

#box{
    display: flex;
    max-width: 500px;
    width: 70%;
    height: 60%;
    flex-wrap: wrap;

    div{
        width: 50%;
        height: 50%; 
    }
    p{
        display: block;
        font-size: 16px;
        margin-top: 16px;
    }
    #data{
        display: inline-block;
        width: 70%;
        font-size: 18px;
        margin-left: 6%;
    }
    button{
        width: fit-content;
        font-size: 16px;
        margin-left: 12px;
    }
}